* {
    margin: 0px;
    padding: 0px;
  }
  body {
    font-weight: thin;
    background-size:100%;
    text-shadow: 2px 2px 1px black;
    color:white;
    font-size: 120%;
    text-align:center;
    font-family:cursive;
    background-image: linear-gradient(
      90deg,
      rgba(0, 162, 255, 0.493),
      rgba(244, 8, 0, 0.795)
    ),url("lg.jpg");
  }
  
  .header {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 2px 2px 1px rgb(114, 114, 114);
    width: 30%;
    margin: 100px auto 0px;
    color: rgb(0, 0, 0);
    background: #ffffffb2;
    text-align: center;
    border: 1px solid #000000;
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
    padding: 20px;
    box-shadow:5px 5px 15px 5px rgba(10,20,30,0.5),5px 5px 15px 5px rgba(10,20,30,0.5);
  }
  form, .content {
    text-align:center;
    width: 30%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #000000;
    background: rgba(31, 31, 31, 0.123);
    border-radius: 0px 0px 10px 10px;
    box-shadow:5px 5px 15px 5px rgba(10,20,30,0.5),5px 5px 15px 5px rgba(10,20,30,0.5);
  }
  .input-group {
    margin: 10px 0px 10px 0px;
  }
  .input-group label {
    display: block;
    text-align: left;
    margin: 3px;
  }
  .input-group input {
    color:white;
    height: 30px;
    width: 93%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    background-color: rgba(54, 53, 53, 0.644);
    border: 1px solid gray;
  }
  .btn {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family:Verdana;
    padding: 10px;
    font-weight: bolder;
    font-size: 20px;
    color: rgb(0, 0, 0);
    background-color:rgb(0, 119, 255);
    border: none;
    border-radius: 5px;
    box-shadow:1px 1px 1px 1px rgba(0, 0, 0, 0.5),-1px -1px 1px 1px rgba(0, 0, 0, 0.5);
  }
  .error {
    text-shadow: none!important;
    width: 92%; 
    margin: 0px auto; 
    padding: 10px; 
    border: 1px solid #a94442; 
    color: #a94442; 
    background: #f2dede; 
    border-radius: 5px; 
    text-align: left;
  }
  .success {
    color: #3c763d; 
    background: #dff0d8; 
    border: 1px solid #3c763d;
    margin-bottom: 20px;
  }
  a{
    font-weight:bold;
    text-shadow:1px 1px 1px black;
    text-decoration: none;
    color:rgb(0, 153, 255);
  }
  ::placeholder{
    text-align: center;
    font-family: monospace;
    color:rgba(255, 255, 255, 0.664);
}